<!DOCTYPE html>
<html>
<head>
<meta content="text/html; charset=UTF-8 http-equiv='Content-Type"/>
</head>
<body>
<h1>Hey, </h1>
<p>The account associated with this email has been deleted.</p>
<p>To login to the site, just follow this link: <%= @url %>.</p>

</body>
</html>