<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Account Deletion Notice</h1>
    <p>
      The account associated with this email has been deleted from RottenMangoes.com.
    </p>
    <p>
      To access the site, you will need to sign up again.
    </p>
  </body>
</html>