<div class="row">
  <div class="col-md-12">
    <small>
      <%= link_to "Movies", movies_path %>  / <%=link_to @movie.title, movie_path(@movie)%> / Edit Movie
    </small>
    <br><br>
  </div>
</div>

<%= render 'form' %>