@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900,300);

$colorOne:#291108;
$colorTwo:#ff9633;
$displayFont:'Lora', serif;
$bodyFont:'Lato', sans-serif;


body {
  background-color: white;
  font-family: $bodyFont;
  font-size:16px;
  color:$colorOne;
}

.white {
  background-color:white;
}

a {
  color:$colorTwo;
  transition: color .3s;
    &:hover, a:focus {
        color: $colorOne;
        text-decoration: none;
    }
}


h1 {
  font-family:$displayFont;
  font-weight:700;
  line-height:67%;
  color:$colorTwo;
  font-size:72px;

}

h2 {
  font-weight:900;
  margin-top:0;
  color:$colorTwo;
  font-family:$displayFont;
  font-weight:900;
}
.btn {
  text-transform: uppercase;
  font-weight:300;
}
.btn-default {
  color:$colorOne;
  border: 1px solid $colorOne;
  transition: border .7s;
  &:hover{
    background-color:white;
    border: 1px solid $colorTwo;
  }
}

.btn-warning {
  background-color:$colorTwo;
  border:none;
  transition:background-color .3s;
  &:hover {
    background-color: darken( $colorTwo, 10% );
  }
}
.btn-custom {
  color:$colorOne;
  font-size:20px;
  border: 1px solid $colorOne;
  font-weight:300;
  padding:15px;
  transition: border .7s;
  &:hover{
    border: 1px solid $colorTwo;

  }
}

.rating-box {
  width:100%;
  color:$colorOne;
  border: 1px solid $colorOne;
  text-transform: uppercase;
  font-weight:300;
  padding:15px;
  border-radius:4px;
    .rating {
      font-weight:900;
      font-size:50px;
      color:$colorTwo;
    }

}



header {
  background-color:$colorTwo;
  color:white;
  padding:10px;
  a {
    color:$colorOne;
    font-weight:900;
    &:hover {
      color: $colorOne;
      text-decoration: none;
    }
  }
}

.image-container {
  img {
    width:100%;
  }
}

.well {
  background-color: white;
  border: 1px solid $colorTwo;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel-default > .panel-heading {
   background-color: transparent; 
   border-color: transparent; 
}

.panel-title {
  color: $colorOne; 
  font-weight: 900;
  font-size: 18px;
}

.panel-group .panel-heading + .panel-collapse > .panel-body {
  border:none;
}

.panel-heading {
  a:hover {
    .panel-title {
      text-decoration: none!important;
    }
  }
}

.panel-default {
     border:0; 
}

.panel {
  box-shadow: none;
}

.form-control {
    color: $colorOne;
    border: 1px solid lighten( $colorOne, 80% );
    box-shadow: none;
}


.input-group-addon {
    color: $colorTwo;
    background-color: white;
    border: 1px solid lighten( $colorOne, 80% );
  }


@media (max-width: 1200px) { 
  .rating-box {
    .rating {
      font-size:30px;
     }  
  }
}

@media (max-width: 991px) { 
  .rating-box {
    width:50%;
    margin:auto;
    .rating {
      font-size:70px;
     }  
  }
}

